<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net451" />
  <package id="JRPC.Client" version="2.0.2-beta" targetFramework="net451" requireReinstallation="true" />
  <package id="JRPC.Core" version="2.0.2-beta" targetFramework="net451" requireReinstallation="true" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net451" />
  <package id="NLog" version="4.5.0-rc04" targetFramework="net451" />
</packages>